certifi==2020.12.5
chardet==4.0.0
codecov==2.1.11
configobj==5.0.6
coverage==5.4
dpath==2.0.1
geojson==2.5.0
idna==2.10
parse-it==3.5.0
pyhcl==0.4.4
pyowm==3.1.1
PySocks==1.7.1
pyTelegramBotAPI==3.7.5
python-dotenv==0.15.0
PyYAML==5.3.1
requests==2.25.1
requests-mock==1.8.0
six==1.15.0
toml==0.10.2
urllib3==1.26.3
xmltodict==0.12.0
