cachetools==5.3.1
certifi==2023.5.7
chardet==5.1.0
charset-normalizer==3.1.0
configobj==5.0.8
coverage==7.2.7
dpath==2.1.6
geojson==2.5.0
idna==3.4
parse-it==2023.5.30.9.12
pyhcl==0.4.4
pyowm==3.3.0
PySocks==1.7.1
pyTelegramBotAPI==4.12.0
python-dotenv==1.0.0
PyYAML==6.0
requests==2.31.0
requests-mock==1.11.0
six==1.16.0
toml==0.10.2
urllib3==1.26.15
xmltodict==0.13.0
